body{
    margin: auto;
    width: 60%;
    justify-content: center;
    border: 3px solid rgba(3, 4, 65, 0.986);
}

.head{
    background-color:pink ;
    border-bottom:3px  solid rgba(3, 4, 65, 0.986);
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.nav{
    background-color: skyblue;
    padding-top: 30px;
    padding-bottom: 30px;
border-bottom: 3px solid rgba(3, 4, 65, 0.986);
    text-align: center;
}

.center-content{
    background-color: palevioletred;
    display: flex;
    border-bottom: 3px solid rgba(3, 4, 65, 0.986);
}

.left{
    width: 50%;
    text-align: center;
    margin:4px 18px;
    padding-top:30px;
    padding-bottom: 30px ;
}

.left-head{
    background-color: lightseagreen;
    padding: 2px 0;
    border: 3px solid rgba(3, 4, 65, 0.986);

}

.left-body{
    background-color: lightyellow;
    padding: 60px 0;
    margin: 18px 0;
    border: 3px solid rgba(3, 4, 65, 0.986);
   
}

.right{
    display: flex;
    align-items: center;
    justify-content: center;
    width:50%;
    background-color: yellowgreen;
    text-align: center;
    border-left: 3px solid rgba(3, 4, 65, 0.986);
}



.footer{
    background-color: rgb(223, 173, 82);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}